<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sia's Boardgames</title>
  <meta name="description" content="Sia's personal board game collection">

  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
  <script src="./games.js"></script>
  <link rel="stylesheet" href="style.css">
  <script>
    (async function () {
    // Polyfill for older browsers
    if (CSS["paintWorklet"] === undefined) {
      await import("https://unpkg.com/css-paint-polyfill");
    }

    // Looking for the source of the Paint Worklet?
    // ~> Go check out https://github.com/bramus/css-houdini-circles
    CSS.paintWorklet.addModule('https://unpkg.com/css-houdini-circles/dist/circles.js');
    })();
  </script>
</head>
  <body class="circles">

    <main>
      {{ content | safe }}
    </main>

    <footer>
    </footer>

  </body>
</html>
