---
layout: layouts/base.njk
---

<h1 class="title">About</h1>

<section class="flow white-bg">
  <p>Hi, I'm <a href="https://sia.codes/">Sia</a>. I live in a small, old house in New Orleans with no storage space. My friends and I could never remember what games I have because they are all stashed in weird places. So this is my virtual games shelf so we can easily find games sorted from most difficult to easiest and filterable by number of players.</p>
  <p>This site is built using the <a href="https://boardgamegeek.com/">BoardGameGeek</a> API, specifically to grab "collections" for a specific user.</p>
  <p>I'm a freelance web developer, and I'm available for hire. You can <a href="https://sia.codes/contact/">contact me</a> on my main site if you need help building a website.</p>
</section>
